[user]
  name = Maciej Gibas
  email = gibasmaciej@gmail.com

[github]
  user = mgibas

[push]
  followTags = true
  default = current
  
[pull]
  rebase = true

[rebase]
  autoStash = true

[mergetool]
  keepBackup = false

[init]
  defaultBranch = main

[alias]

  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  s = status -s
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  c = commit
  p = pull --rebase
  t = tag
  pusht = !"git push && git push --tag";  
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  amend = commit --amend --reuse-message=HEAD

[credential "https://github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential
