# This is Git's per-user configuration file.
[user]
  name = Maciej Gibas
  email = gibasmaciej@gmail.com

[github]
  user = mgibas

[credentail]
  helper = osxkeychain

[core]
  excludesfile = ~/.gitignore

[push]
  followTags = true
  default = current
  
[mergetool]
  keepBackup = false

[init]
  defaultBranch = main

[alias]

  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  s = status -s
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
  dump-branch = !"git branch -d $1 && git push --delete origin"

  c = commit
  pusht = !"git push && git push --tag";
  p = pull --rebase
  t = tag
  
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  amend = commit --amend --reuse-message=HEAD